<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="toolbar no-select" routerLink="">
            <mat-icon style="margin-right: 5px;">toys</mat-icon>
            <span>ТОВ "СЕНС"</span>
        </div>
      <span class="example-spacer"></span>
      <div class="toolbar no-select">
        <button class="toolbar button" mat-flat-button routerLink="">Главная</button>
        <button class="toolbar button" mat-flat-button routerLink="spaces">Карта</button>
        <button class="toolbar button" mat-flat-button routerLink="">Че то еще</button>
      </div>
    </mat-toolbar-row>
</mat-toolbar>