.container {
    margin: 60px;
    margin-bottom: 200px;
}

mat-grid-tile {
    background: lightblue;
    cursor: pointer;
}

.YANA {
    
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 60px;
  }
  
