/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    background-color: rgb(0, 16, 236);
    margin: 0; 
    margin-bottom: 250px;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.footer {
    position: fixed;
    bottom: 0;
}